@3: #333;
@6: #666;
@9: #999;
@fff: #fff;
@btn: #ffad39;
@f10: 10px;
@f12: 12px;
@f14: 14px;
@f16: 16px;
@border: 1px solid #ddd;
@shadow: 0px 2px 4px #ddd;

/*html {font-size: 62.5%;} */


/*头部*/

header {
    height: 45px;
    overflow: hidden;
    padding: 11px 0;
    box-sizing: border-box;
    background: #fff;
    .fl {
        a {
            display: block;
            padding: 3px;
            img {
                width: 12px;
                vertical-align: middle;
            }
            .back {
                width: 8px;
                height: 13px;
            }
        }
    }
    .fr {
        a {
            color: @9;
            font-size: @f14;
        }
    }
    h1 {
        font-size: 16px;
        color: @6;
        text-align: center;
        line-height: 22px;
        width: 100%;
        margin-left: -16px;
    }
}
.index-header {
    position: absolute;
    width: 100%;
    z-index: 2;
    background: url(../img/banner_top.png) no-repeat;
    background-size: 100%;
    .fl {
        a {
            img {
                width: 16px;
                height: 12px;
            }
        }
    }
    .fr {
        a {
            font-size: @f14;
            color: #fff;
            i {
                width: 10px;
                height: 5px;
                background: url(../img/arrow_down.png) no-repeat;
                display: inline-block;
                background-size: 100%;
                margin-left: 10px;
                vertical-align: middle;
            }
        }
    }
}

/*首页*/

.banner {
    img {
        width: 100%;
        display: block;
    }
    .swiper-pagination-bullet-active {
        background: rgba(255, 255, 255, 0.5);
    }
}
.menu {
    padding: 26px 0;
    background: #fff;
    box-shadow: @shadow;
    margin-bottom: 16px;
    ul {
        li {
            width: 23%;
            display: inline-block;
            text-align: center;
            a {
                img {
                    width: 20px;
                    height: 20px;
                    margin-bottom: 14px;
                }
                small {
                    display: block;
                    font-size: 12px;
                    color: #333;
                }
            }
            .order_online img {
                width: 22px;
                height: 22px;
            }
            .vip img,
            .fast_trading img {
                width: 23px;
                height: 18px;
            }
            .coupon img {
                width: 28px;
                height: 18px;
            }
            .community img {
                width: 24px;
                height: 23px;
            }
            .game img {
                width: 22px;
                height: 23px;
            }
            .wine img {
                width: 22px;
                height: 22px;
            }
        }
    }
    ul:first-child {
        margin-bottom: 30px;
    }
}
.shop-info {
    position: relative;
    .shade {
        position: absolute;
        background-color: rgba(0, 0, 0, .5);
        width: 100%;
        height: 140px;
    }
    img {
        width: 100%;
        height: 140px;
        overflow: hidden;
        display: block;
    }
    .info {
        position: absolute;
        top: 20px;
        h1 {
            font-size: 20px;
            color: #fff;
            display: inline-block;
            margin-bottom: 4px;
        }
        .score {
            display: inline-block;
            vertical-align: text-bottom;
        }
        p {
            font-size: 12px;
            color: #fff;
        }
        .more-info {
            margin-bottom: 8px;
        }
        button {
            height: 20px;
            line-height: 20px;
            padding: 0;
            font-size: 10px;
            letter-spacing: .5px;
            color: #fff;
            border-radius: 2px;
        }
        .check {
            width: 58px;
            margin-right: 4px;
        }
        .display {
            width: 70px;
        }
    }
}
.activity {
    margin-bottom: 14px;
    box-shadow: @shadow;
    h2 {
        font-size: 12px;
        color: @3;
        padding: 16px 14px 10px;
    }
    .articel {
        background: #fff;
        .topbar {
            padding: 6px 0;
            border-bottom: @border;
            .fl {
                letter-spacing: 6px;
                i {
                    width: 7px;
                    height: 10px;
                    background: url(../img/limit_sell.png) no-repeat;
                    background-size: 100%;
                }
            }
            .fr {
                i {
                    width: 12px;
                    height: 12px;
                    background: url(../img/clock_gray.png) no-repeat;
                    background-size: 100%;
                }
            }
            i {
                display: inline-block;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        .content {
            padding: 15px 14px 10px;
            .act-name {
                font-size: 14px;
                color: @3;
                span {
                    font-size: 10px;
                    color: @9;
                    margin-left: 4px;
                }
            }
            .price {
                .fl {
                    line-height: 24px;
                }
                .fr {
                    color: #f15d52;
                    font-size: @f16;
                }
                em {
                    font-style: normal;
                    font-size: 12px;
                }
            }
            small {
                font-size: 12px;
                color: @9;
                display: block;
            }
            p {
                font-size: 12px;
                color: @9;
                display: block;
                width: 100%;
            }
            .out-price {
                text-align: right;
                text-decoration: line-through;
            }
        }
    }
}
.special-offer,
.oth {
    .articel .topbar .fl {
        i {
            width: 10px;
            height: 10px;
            background: url(../img/special-offer.png) no-repeat;
            background-size: 100%;
        }
    }
    small {
        margin-bottom: 18px;
    }
}

/* 预订成功 */

.sunglasses-man {
    margin-top: 14px;
    position: relative;
    z-index: -1;
    top: 5px;
    img {
        display: block;
        margin: 0 auto;
        width: 26px;
    }
}
.orderinfo {
    .info-wrap {
        background: url(../img/orderinfo_bg.png)no-repeat;
        background-size: 100%;
        .info {
            padding: 40px 14px 16px;
            border-bottom: @border;
            h1 {
                font-size: 20px;
            }
            .package-name {
                padding-top: 50px;
                span {
                    color: @9;
                    font-size: @f12;
                }
            }
            .order-num {}
            .info-btn {
                text-align: center;
                margin-top: 8px;
            }
            button {
                width: 48%;
                color: #fff;
                line-height: 40px;
                border-radius: 4px;
            }
            .btn1 {
                margin-right: 6px;
            }
        }
        .info-footer {
            padding: 18px 0 20px;
            p {
                color: @9;
                font-size: 12px;
                i {
                    width: 13px;
                    background: url(../img/buycode.png) no-repeat;
                    background-size: 100%;
                    height: 11px;
                    display: inline-block;
                    margin-right: 4px;
                }
                span {
                    color: #f15d52;
                    font-size: 16px;
                }
            }
            img {
                width: 114px;
            }
        }
    }
}

/* 付款 */

.print-bar {
    width: 96%;
    height: 6px;
    border-radius: 3px;
    margin: 12px auto 0;
    background: -webkit-linear-gradient(top, #606366, #d9dcdf);
    background: -o-linear--gradient(top, #606366, #d9dcdf);
    background: -moz-linear--gradient(top, #606366, #d9dcdf);
    background: linear-gradient(top, #606366, #d9dcdf);
}
.payinfo {
    position: relative;
    top: -2px;
    .info-wrap {
        background: url(../img/pay_bg.png) no-repeat;
        background-size: 100%;
        .info {
            padding: 14px 10px 22px;
            border-bottom: @border;
            img {
                width: 100%;
                margin-bottom: 8px;
            }
            h1 {
                font-size: 30px;
            }
            p {
                color: @9;
            }
        }
        .info-footer {
            text-align: center;
            padding: 30px 0 34px;
            img {
                width: 240px;
            }
        }
    }
}
.go-pay {
    text-align: center;
    button {
        line-height: 40px;
        border-radius: 4px;
        color: #fff;
        width: 60%;
    }
}

/* 付款成功 */

.okpay {
    padding: 14px 40px 20px;
    .info-wrap {
        background: #fff;
        text-align: center;
        img {
            width: 50%;
        }
        .info {
            border-bottom: @border;
            padding-bottom: 18px;
            h1 {
                font-size: 16px;
            }
            p {
                font-size: 12px;
                color: @9;
            }
            .info-btn {
                margin-top: 14px;
                button {
                    width: 30%;
                    color: #fff;
                    line-height: 28px;
                    border-radius: 20px;
                }
                .check-order {
                    background: -webkit-gradient(linear, left top, right bottom, from(#f57a6b), to(#f15f54));
                    background: -o-gradient(linear, left top, right bottom, from(#f57a6b), to(#f15f54));
                    background: -moz-gradient(linear, left top, right bottom, from(#f57a6b), to(#f15f54));
                    background: gradient(linear, left top, right bottom, from(#f57a6b), to(#f15f54));
                    margin-right: 6px;
                }
                .back-home {
                    color: @6;
                    background: -webkit-gradient(linear, left top, right bottom, from(#e8e8e8), to(#ddd));
                    background: -o-gradient(linear, left top, right bottom, from(#e8e8e8), to(#ddd));
                    background: -moz-gradient(linear, left top, right bottom, from(#e8e8e8), to(#ddd));
                    background: gradient(linear, left top, right bottom, from(#e8e8e8), to(#ddd));
                }
            }
        }
        .info-footer {
            padding: 18px 0 20px;
            background: #fff;
            p {
                color: @9;
                font-size: 12px;
                i {
                    width: 13px;
                    background: url(../img/buycode.png) no-repeat;
                    background-size: 100%;
                    height: 11px;
                    display: inline-block;
                    margin-right: 4px;
                }
                span {
                    color: #f15d52;
                    font-size: 16px;
                }
            }
            img {
                width: 114px;
            }
        }
    }
}

/* 分享红包 */

.send-gift {
    position: fixed;
    bottom: -20px;
    right: -6px;
    transform: rotate(-17deg);
    transform: -webkit-rotate(-17deg);
    transform: -moz-rotate(-17deg);
    transform: -o-rotate(-17deg);
    img {
        width: 58px;
        animation: tada 1.2s ease-in-out 0s infinite alternate none;
        -webkit-animation: tada 1.2s ease-in-out 0s infinite alternate none;
        -moz-animation: tada 1.2s ease-in-out 0s infinite alternate none;
        -o-animation: tada 1.2s ease-in-out 0s infinite alternate none;

    }
}

/*@-webkit-keyframes tada {
    0% {
        -webkit-transform: rotate(0);
    }
    10%,
    20% {
        -webkit-transform: rotate(-3deg);
    }
    30%,
    50%,
    70%{
        -webkit-transform: rotate(3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: rotate(-3deg);
    }
    100% {
        -webkit-transform: rotate(0);
    }
}
*/
/*评价页面*/

.section {
    .top-title {
        p {
            border-bottom: @border;
            padding: 10px;
        }
    }
    .assess-list {
        ul {
            li {
                padding: 15px 0 22px;
                div {
                    display: inline-block;
                }
                .user-head {
                    vertical-align: top;
                    margin-right: 8px;
                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                }
                .user-name {
                    width: ~"calc(100% - 52px)";
                    width: ~"-moz-calc(100% - 52px)";
                    width: ~"-webkit-calc(100% - 52px)";
                    width: ~"-o-calc(100% - 52px)";
                    font-size: 12px;
                    .name {
                        color: @3;
                        margin-bottom: 15px;
                        font-size: 14px;
                        span {
                            color: #707a83;
                            font-size: 12px;
                            i {
                                width: 10px;
                                height: 10px;
                                background: url(../img/clock.png)no-repeat;
                                background-size: 100%;
                                display: inline-block;
                                margin-right: 8px;
                            }
                        }
                    }
                    .desc {
                        color: #707a83;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    .no-assess {
        padding-top: 50%;
        img {
            width: 66px;
            margin-bottom: 10px;
        }
        small {
            font-size: 12px;
            color: @6;
            display: block;
        }
    }
}

/*公用*/

.container {
    width: 100%;
    padding: 0 14px;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    color: #333;
    background: #fff;
}
select {
    outline: medium none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.text-center {
    text-align: center;
}

/*排名星星*/

.score {
    span {
        background-image: url(../img/gary_star_bg.png);
        background-size: 64px;
        background-repeat: no-repeat;
        background-position: 0;
        width: 64px;
        /*height: 12px;*/
        display: inline-block;
        margin-left: 6px;
        b {
            width: 64px;
            background-image: url(../img/orange_star_front.png);
            background-size: 64px;
            background-repeat: no-repeat;
            background-position: 0;
            height: 8px;
            display: inline-block;
        }
    }
}

/*按钮*/

.btn1 {
    background: -webkit-gradient(linear, left top, right bottom, from(#f57a6b), to(#dd594e));
    background: -o-gradient(linear, left top, right bottom, from(#f57a6b), to(#dd594e));
    background: -moz-gradient(linear, left top, right bottom, from(#f57a6b), to(#dd594e));
    background: gradient(linear, left top, right bottom, from(#f57a6b), to(#dd594e));
}
.btn2 {
    background: -webkit-gradient(linear, left top, right bottom, from(#ffca4d), to(#ffae3a));
    background: -o-gradient(linear, left top, right bottom, from(#ffca4d), to(#ffae3a));
    background: -moz-gradient(linear, left top, right bottom, from(#ffca4d), to(#ffae3a));
    background: gradient(linear, left top, right bottom, from(#ffca4d), to(#ffae3a));
}
.shadow {
    box-shadow: @shadow;
}
.bottom-border {
    border-bottom: @border;
}
